# 목차1 - 식별자
- 식별자에 대해 배웁니다.

## 스네이크 케이스와 캐멀 케이스
- 각 프로그래밍 언어마다 양식 존재
- 클래스를 정의할 때 앞문자 대문자 -> Camel Case
- 함수를 정의할 때 snake_case 방식 사용

# 목차2 - 식별자 구분

In [ ]:
print() #소문자
list() #소문자
class Aninmal # 대문자
BeautifulSoup() #대문자

## 입력과 출력

- input(): 입력
- output(): 출력

In [1]:
var1 = input("아무거나 입력하세요!")
print(var1)

아무거나 입력하세요! 넹

넹

- 숫자 출력할 때와 문자 출력할 때가 다름

In [2]:
print("#하나만 출력합니다")
print()
print(10,20,30)

#하나만 출력합니다

10 20 30

# 목차3 - 문자열
- 숫자
- 문자
- 논리(True/False)

In [4]:
print(type("안녕하세요"))

<class 'str'>

In [104]:
'''import pandas as pd
df = pd.DataFrame({
    'col1' : [1,2,3],
    'col2' : [1,2,3]
})

print(type(df))'''   #오류 떠서 주석 씌움

"import pandas as pd\ndf = pd.DataFrame({\n    'col1' : [1,2,3],\n    'col2' : [1,2,3]\n})\n\nprint(type(df))"

## 문자열 만들기
- 큰 따옴표 방식 / 작은 따옴표 방식
- 지금은 크게 구분 X

In [7]:
#page 89
print('"안녕하세요"라고 말했습니다')

"안녕하세요"라고 말했습니다

## 이스케이프 문자
- \n: 줄바꿈
- \t: 탭
- \\: 역슬래시

In [9]:
print('안녕하세요\n안녕하세요')

안녕하세요
안녕하세요

In [10]:
print('안녕하세요\t안녕하세요')

안녕하세요	안녕하세요

In [11]:
print('\\')

\

## 문자열 연산자 (중요)
- 사칙연산 중에서 덧셈과 곱셈 사용 가능

In [55]:
print(2+2)
print(5-2)
print(6*3)
print(3/6)

4
3
18
0.5

In [56]:
print("안녕"+"하세요")

안녕하세요

In [57]:
var1 = "안녕"
var2 = "하세요"

result = var1 + var2
print(result)

안녕하세요

In [58]:
print(result*2)

안녕하세요안녕하세요

In [59]:
num1 = 1
num2 = '7'

print(str(num1)+num2)

#숫자가 아닌 문자열은 int로 변환 불가 ex) num1="7"은 변환 가능

17

## 문자 선택 연산자(인덱싱): []
- 리스트, 튜플 등등 원리는 동일

In [60]:
var1 = "안녕하세요"
print(var1[0])
print(var1[-1])
print(var1[-2])

안
요
세

In [61]:
var1 = "Hello, Python!!!"
print(var1[6])
print(var1[7])

P

## 문자열 범위 선택(슬라이싱) [:]
- 리스트, 튜플 등 자료형과 원리 동일

In [62]:
var1 = "Hello, Python!!!"
print(var1[1:4])

ell

In [63]:
var1 = "abababababababab"
print(var1[::2])

aaaaaaaa

## 문자열과 숫자

### 지수 표현

In [64]:
0.52273e2  #e가 10의 자리수를 의미한다고 생각하면 됨

52.273

In [65]:
0.52273e-2  #10의 자리수 두개 빼용

0.0052273

### 사칙연산

In [43]:
6/3    #나누기는 float으로 반환

2.0

In [44]:
6+3

9

In [47]:
num = 100
num = num + 10
print(num)

110

In [48]:
num = 100
num += 10 
print(num)

110

In [49]:
sample_text = "안녕"
sample_text += "i"
print(sample_text)

안녕i

In [51]:
num1 = int(input("숫자를 입력하세요!!"))
num2 = int(input("숫자를 입력하세요!!"))

result = num1 + num2
print(result)

숫자를 입력하세요!! 1
숫자를 입력하세요!! 2

3

In [68]:
num1 = "52"
num2 = "52.273"

print(int(num1))
print(float(num2))

52
52.273

In [69]:
print(float(num1))
#print(int(num2)) -> float 문자열은 int로 바꿔서 출력 불가

52.0

In [70]:
print(int(float(num2)))

52

## f문자열 포매팅
-  f'문자열{표현식}문자열'

In [71]:
name = '홍길동'
age = 30
print(f"나의 이름은 {name}입니다. 저는 {age}살입니다.")

나의 이름은 홍길동입니다. 저는 30살입니다.

In [74]:
num1 = 10
print(f'{num1}')  #간단한 걸로 쓰세용
print("{}".format(num1))

10
10

## 문자열 내장 메소드

In [75]:
print("안녕" in "안녕하세요")

True

In [76]:
print("안녕히" in "안녕하세요")

False

In [79]:
a = "10 20 30 40 50" #sep->구분자를 지정하는 매개변수
print(a.split())
print(a.split(sep=" "))

['10', '20', '30', '40', '50']
['10', '20', '30', '40', '50']

# 목차4 - 자료형

## 리스트

In [95]:
a = list()
b = []
c = [1,2,3]
d = ["a", "b", "c"]
e = 1,2,"a", None, True
f = [1,2,3,[1,2,"Hello, Python!!!", None, True]]    #Nested List, 중첩 리스트

In [96]:
print(a,b,c,d,e,f)

[] [] [1, 2, 3] ['a', 'b', 'c'] (1, 2, 'a', None, True) [1, 2, 3, [1, 2, 'Hello, Python!!!', None, True]]

In [97]:
print(f[3])

[1, 2, 'Hello, Python!!!', None, True]

In [98]:
f_a = f[3]
text = f_a[2]
print(text)
print(text[7:13])

Hello, Python!!!
Python

In [99]:
g = [1, 2, 3, 4, 5, 6, [1, 2, "Hi,,,, !! Python !!! Hello, ", None, True]]

In [102]:
g[6][2][10:16]

'Python'

In [1]:
#p.196
list_a = [1,2,3]
list_b = [4,5,6]
list_a + list_b

[1, 2, 3, 4, 5, 6]

In [2]:
list_a *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
list_a * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

- 숫자는 scalar 자료형
- 문자는 sequence 자료형 (List도 sequence 자료형)

In [7]:
# list_a + 4   이건 안됨
list_a + [4]

[1, 2, 3, 4]

In [9]:
list_a = [273, 32, 'A', True, [1,2,3]]
list_a[2] = 410
list_a

[273, 32, 410, True, [1, 2, 3]]

In [10]:
len(list_a)

5

In [14]:
list_a = [1,2,3]
list_a.append(4)
list_a.append("A")
list_a

[1, 2, 3, 4, 'A']

In [15]:
list_a.insert(0,100)
list_a

[100, 1, 2, 3, 4, 'A']

### extend()
- extend() 함수는 매개변수로 리스트를 입력
- iterable 자료형만 사용 가능
- iterable: 반복(iteration)할 수 있는 객체를 의미
- 이터러블 자료형 종류 : 리스트(list), 튜플(tuple), 문자열(string), 딕셔너리(dictionary), 세트(set)
- 스칼라(scalar) : 단일 값을 나타내는 자료형
- 스칼라 자료형 종류 : 정수형(int), 부동 소수점형(float), 문자열(string, 단일 문자), 불린형(boolean)

In [19]:
list_a = [1,2,3]
list_a.extend("a")
list_a

[1, 2, 3, 'a']

### 인덱스로 제거하기: del 키워드, pop() 키워드

In [20]:
list_a = ["a","b","c","d"]
del list_a[0]     #del문
list_a

['b', 'c', 'd']

In [21]:
list_a = ["a","b","c","d"]
del list_a[0:2]
list_a

['c', 'd']

### 값으로 제거하기: remove()
- 인덱스 번호가 아니라 실제 값 의미

### 리스트 정렬하기(sort)

In [22]:
list_a = [52,273,103,32]
list_a.sort()
list_a

[32, 52, 103, 273]

In [23]:
list_a.sort(reverse=True)
list_a

[273, 103, 52, 32]

### 리스트 내부에 있는지 확인하기: in/not in 연산자
- 문자열과 비슷

In [25]:
"a" in "abc"

True

In [26]:
273 in [52, 273, 103, 32]

True

### 리스트 컴프리헨션
- pythonic code
- 반복문을 한줄로 처리
- 결과값은 리스트로 반환

In [92]:
a = [1,2,3,4]
result = []

for num in a:
    result.append(num*3)

result

[3, 6, 9, 12]

In [98]:
num1 = [1,2,3,4]
num2 = [10,20,30,40]
result = []

for i,j in zip(num1,num2):
    print(i,j,i*j)
    result.append(i*j)

result = [i*j for i,j in zip(num1,num2)]
result

for i in result:
    result.remove(i)

1 10 10
2 20 40
3 30 90
4 40 160

## 튜플
- 리스트와 비슷한 자료형
- 인덱싱, 슬라이싱 모두 가능

In [27]:
tuple_test = (10,20,30,40,50,60)
tuple_test

(10, 20, 30, 40, 50, 60)

In [29]:
tuple_test[0]
tuple_test[0:4]

(10, 20, 30, 40)

In [ ]:
#튜플은 수정 불가

## 딕셔너리
- Web관련 자료형 중에서 JSON 형태와 유사
- pandas 데이터프레임을 만들 때도 매우 자주 사용
- 사전식 구성 연상
      + 키워드 입력 -> 다양한 의미
      + Love, 동사, 명사 등등등

In [30]:
dict_a = {
    "name" : "어벤져스 엔드게임",
    "type" : "히어로 무비",
    "director" : ["안소니 루소", "조 루소"],
    "year" : 2019
}

dict_a

{'name': '어벤져스 엔드게임',
 'type': '히어로 무비',
 'director': ['안소니 루소', '조 루소'],
 'year': 2019}

In [32]:
dict_a['director'][0][0:3]

'안소니'

In [34]:
dict_a['director'].append("a")
dict_a

{'name': '어벤져스 엔드게임',
 'type': '히어로 무비',
 'director': ['안소니 루소', '조 루소', 'a', 'a'],
 'year': 2019}

In [38]:
#key설정 시 무조건 따옴표 사용
dict_key = {
    'name': "7days 건조 맹고맹고"
}
dict_key

{'name': '7days 건조 맹고맹고'}

In [39]:
dict_key['price'] = "비싸비싸"
dict_key

{'name': '7days 건조 맹고맹고', 'price': '비싸비싸'}

In [40]:
del dict_key['price']
dict_key

{'name': '7days 건조 맹고맹고'}

In [42]:
dict_key['price'] = "비싸비싸"

print(dict_key.keys())
print(dict_key.values())
print(dict_key.items())

dict_keys(['name', 'price'])
dict_values(['7days 건조 맹고맹고', '비싸비싸'])
dict_items([('name', '7days 건조 맹고맹고'), ('price', '비싸비싸')])

In [ ]:
#dictionary에는 append 사용불가

# 목차5 - 조건문과 반복문

## 조건문
- 00 조건을 만족 => True
    + 옷을 산다
- 00 조건을 만족하지 못한다 => False
    + 옷 ㄴㄴ
- if-else

In [44]:
a=1
if a>1:
    print("1보다 큼")
else:
    print("1보다 같거나 작음")

1보다 같거나 작음

In [48]:
if True:
    print("True입니다!")

if False:
    print("True입니다!")

True입니다!

In [50]:
num = input("정수를 입력해주세요!")
num = int(num)

if num>0:
    print("양수")

if num<0:
    print("음수")

if num == 0:
    print(0)

정수를 입력해주세요! 0

0

In [52]:
money = int(input("얼마 있니?"))
if money<35000:
    print("못 먹어용")
else:
    print("먹어용")

얼마 있니? 60000

먹어용

## 날짜/시간 활용하기
- datetime (파이썬 기본 라이브러리)
- pandas to_datetime: https://ml-ops-hq.slack.com/archives/C079MU6L0HJ/p1719465693794189
                    + https://ml-ops-hq.slack.com/archives/C079MU6L0HJ/p1719465707060339

In [53]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2024, 6, 27, 14, 39, 20, 587654)

In [55]:
print(now.month, "월")

6 월

In [57]:
print(f'{now.year}년 {now.month}월 {now.day}일')

2024년 6월 27일

In [61]:
#현재 날짜와 시간 구하기, 월 추출해서 현재 계절 확인

now = datetime.datetime.now()
month = now.month

print(type(month), month)

if 3<=month<=5:
    print("봄")
elif 6<=month<=8:
    print("여름")
elif 9<=month<=11:
    print("가을")
else: 
    print("겨울")

<class 'int'> 6
여름

## for 반복문
- 몇 번을 반복해야 하는지 사용자가 지정

In [63]:
for i in range(2):
    print("책 출력")

책 출력
책 출력

In [67]:
array = [273, 32, 103, 57, 52]

for element in array:
    print(element)

273
32
103
57
52

In [71]:
from collections.abc import Sequence

def is_sequence(obj):
    return isinstance(obj, Sequence)

print(is_sequence([1,2,3]))
print(is_sequence((1,2,3)))
print(is_sequence('hello'))
print(is_sequence({1,2,3}))
print(is_sequence(123))

True
True
True
False
False

In [72]:
test = dict_key.values()
print(is_sequence(test))

for element in test:
    print(element)

False
7days 건조 맹고맹고
비싸비싸

In [74]:
list_of_list = [[1,2,3],[4,5,6,7],[8,9]]
list_of_list

for items in list_of_list:
    print(items)
    for item in items:
        print(item)

[1, 2, 3]
1
2
3
[4, 5, 6, 7]
4
5
6
7
[8, 9]
8
9

In [86]:
num1 = [2,3,4,5,6,7,8,9]
num2 = [1,2,3,4,5,6,7,8,9]

for i in num1:
    for j in num2:
        print(f'{i}*{j}={i*j}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

## while 반복문
- 조건식이 참이면 계속 수행

In [2]:
i = 0
while i<10:
    print('{}번째 반복입니다.'.format(i))
    i+=1

0번째 반복입니다.
1번째 반복입니다.
2번째 반복입니다.
3번째 반복입니다.
4번째 반복입니다.
5번째 반복입니다.
6번째 반복입니다.
7번째 반복입니다.
8번째 반복입니다.
9번째 반복입니다.

In [3]:
list_test = [1,2,1,2]
value = 2

while value in list_test:
    list_test.remove(value)

print(list_test)

[1, 1]

In [7]:
import time

num = 0
target_tick = time.time() + 5
while time.time() < target_tick:
    num += 1

num

30553564

### break와 continue

In [8]:
num = [5,15, 6,20, 7, 25]

for i in num:
    print(i)
    break

5

In [9]:
num = [5,6,7,10,15,25]

for i in num:
    if i>10:
        break
    print(i)

5
6
7
10

In [10]:
num = [5,6,7,10,15,25]

for i in num:
    print(i)
    if i>10:
        break

5
6
7
10
15

# 목차6 - 함수
- 공식문서 볼 때 필수 확인사항 2가지
      + 매개변수 입력 방법 (or 자료형)
      + 반환값, 반환되는 자료형의 형태 (int, str, array, list, DataFrame, etc)

## 함수 정의

In [16]:
def add(a,b):
    """
    두 수의 합을 반환합니다.
    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.
    반환값:
    int, float: 두 숫자의 합.
    예제:
    >>> add(2, 3)
    5
    >>> add(5.5, 4.5)
    10.0
    """
    return a+b    #두 값 더하기
    
def sub(a,b):
    return a-b    #두 값 빼기
    
def div(a,b):
    return a/b    # 두 값 나누기
    
def mul(a,b):
    return a*b    # 두 값 곱하기


print(add.__doc__)

    두 수의 합을 반환합니다.
    매개변수:
    a (int, float): 첫 번째 숫자.
    b (int, float): 두 번째 숫자.
    반환값:
    int, float: 두 숫자의 합.
    예제:
    >>> add(2, 3)
    5
    >>> add(5.5, 4.5)
    10.0

## 에러 유형 확인

In [17]:
def print_n_times(value, n):
    for i in range(n):
        print(value)

print_n_times("안녕하세요", 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

## 가변 매개변수
- *를 매개변수에 추가

In [18]:
def print_n_times(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

print_n_times(3,"a","b","c")

a
b
c

a
b
c

a
b
c

## 키워드 매개변수 **kwargs
- 매개변수 앞에 ** 두개 붙인 케이스

In [21]:
def print_kwargs(**kwargs):

    #이 메서드에는 return 값이 없음
     print(kwargs)  #dictionary 형태로 출력

In [22]:
print_kwargs(a=1)

{'a': 1}

# 목차7 - 클래스
- 한 줄로 요약: 자동화 / 많은 사람들이 사용할 수 있도록 배포

## 함수와 클래스

In [25]:
result = 0

def add(num):
    global result   #전역변수
    result += num
    return result

print(add(3))
print(add(4))

3
7

In [27]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(3))
print(cal2.add(5))
print(cal2.add(4))

3
6
5
9

In [49]:
class Student:
    def __init__(self, name, Korean, Math, English, Science):
        self.name = name
        self.Korean = Korean
        self.Math = Math
        self.English = English
        self.Science = Science

    def get_sum(self):
        return self.Korean + self.Math + self.English + self.Science

    def get_avg(self):
        return self.get_sum()/4
        

Students = [
    Student("윤인성", 87,98,88,95),
    Student("Evan", 50,20,15,40)
]

In [50]:
print(Students[0].get_sum())
print(Students[1].get_avg())

368
31.25

In [52]:
for i in range(len(Students)):
    print(Students[i].get_sum(), Students[i].get_avg())

368 92.0
125 31.25

## 인스턴스 확인
- isinstance(인스턴스, 클래스)

In [53]:
class Student:
    def __init__(self):
        pass

student = Student()
isinstance(student, Student)

True

## 클래스 상속

In [54]:
class Human:
    def __init__(self):
        pass

class Student(Human):
    def __init__(self):
        pass

In [57]:
class Parent:
    pass

class Child(Parent):
    def __init__(self):
        super().__init__()   #부모 클래스가 갖고 있는 거 다 쓰고 싶은 경우