In [1]:
import pandas as pd
import seaborn as sns

print(pd.__version__)
print(sns.__version__)

C:\Users\user\AppData\Local\Temp\ipykernel_1480\3254692792.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

2.2.0
0.13.2

In [2]:
iris = sns.load_dataset("iris")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.shape

(150, 5)

In [5]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
iris['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [7]:
type(iris['species'].value_counts())

pandas.core.series.Series

In [8]:
iris['species'].value_counts().array

<NumpyExtensionArray>
[50, 50, 50]
Length: 3, dtype: int64

In [9]:
iris['species'].value_counts().memory_usage()

48

In [10]:
df = iris.drop("species", axis=1)
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2

In [11]:
iris.shape, df.shape

((150, 5), (150, 4))

In [12]:
df3 = iris.drop([0,1,2], axis=0).reset_index(drop=True)
df3

     sepal_length  sepal_width  petal_length  petal_width    species
0             4.6          3.1           1.5          0.2     setosa
1             5.0          3.6           1.4          0.2     setosa
2             5.4          3.9           1.7          0.4     setosa
3             4.6          3.4           1.4          0.3     setosa
4             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
142           6.7          3.0           5.2          2.3  virginica
143           6.3          2.5           5.0          1.9  virginica
144           6.5          3.0           5.2          2.0  virginica
145           6.2          3.4           5.4          2.3  virginica
146           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

# 파일 입출력
- 파일 내보내기
- 파일 들여오기

In [13]:
iris.to_csv("iris.csv")
iris.to_csv("./test_data/iris.csv", index=False)